<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>LamerenMetMark</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
<gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.4.3">
    <param name="APP_ID" value="1054205568045853" />
    <param name="APP_NAME" value="LameremMetMark" />
</gap:plugin>